@model IEnumerable<LeaveManagement.Web.Data.LeaveType>

@{
    ViewData["Title"] = "Employee Management";
}

<h1>Employee Management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Edit</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Details</button></a>
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteFrom" asp-action="Delete">
    <input type="hidden" id="leaveTypeId" name="Id" />
</form>

@*
Този скрипт управлява функционалността за изтриване на запис в изгледа за индексиране на LeaveTypes. Когато бутонът за изтриване бъде натиснат, се показва диалогов прозорец за потвърждение с помощта на библиотеката SweetAlert. Ако потребителят потвърди изтриването, ID на записа се извлича и изпраща на сървъра за изтриване.
*@
@section Scripts {
    <script>
        $(function () { 
            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if(confirm){
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeId').val(id);
                        $('#deleteFrom').submit();
                    }
                } );
            });
        });
    </script>
}